Repository tahowallet/extension, pull requests merged in 2023-03, with the labels that each got.

#3096 Fix price impact highlighting
  ui/components/Shared/PriceDetails.tsx
Labels: Type: Bug, Priority: Low, Status: Needs Review

#3094 Load NFTs service state from database
  background/services/nfts/db.ts
  background/services/nfts/index.ts
Labels: Priority: 🚨 Critical

#3095 Improve Daylight request load
  .env.defaults
  background/features.ts
  background/main.ts
  background/redux-slices/index.ts
  background/services/abilities/db.ts
  background/services/abilities/index.ts
  ui/components/TabBar/TabBar.tsx
  ui/pages/Overview.tsx
Labels: Type: Plumbing, Priority: High, Status: Needs Review

#3131 Daylight - Only poll ablities for imported addresses
  background/main.ts
Labels: Type: Bug, Type: Plumbing

#3137 Token Balances - Prevent discovered tokens from shadowing known assets balances
  background/constants/networks.ts
  background/main.ts
Labels: Type: Bug, Priority: High, Status: Needs Review
