Repository tahowallet/extension, pull requests merged in 2023-01, with the labels that each got.

#1840 :eye: Trust but verify
  background/assets.ts
  background/lib/alchemy.ts
  background/lib/asset-similarity.ts
  background/lib/tests/asset-similarity.unit.test.ts
  background/lib/token-lists.ts
  background/redux-slices/utils/asset-utils.ts
  background/services/chain/index.ts
  background/services/enrichment/index.ts
  background/services/enrichment/tests/transactions.integration.test.ts
  background/services/enrichment/transactions.ts
  background/services/indexing/index.ts
  background/tests/factories.ts
  ui/_locales/en/messages.json
  ui/components/Shared/SharedAssetInput.tsx
  ui/components/Wallet/AssetListItem/CommonAssetListItem.tsx
  ui/components/Wallet/AssetListItem/styles.ts
  ui/components/Wallet/AssetWarningSlideUp.tsx
  ui/components/Wallet/WalletAssetList.tsx
  ui/components/Wallet/WalletAssetListItem.tsx
Labels: Type: Enhancement, Priority: Medium, Status: Needs Revision

#2888 Only export logs from the previous 1 hour.
  background/lib/logger.ts
Labels: Type: Bug, Priority: Medium, Status: Completed

#2880 Add custom networks via EIP-3085
  background/accounts.ts
  background/constants/base-assets.ts
  background/constants/coin-types.ts
  background/constants/currencies.ts
  background/constants/networks.ts
  background/networks.ts
  background/services/chain/db.ts
  background/services/chain/index.ts
  background/services/chain/serial-fallback-provider.ts
  background/services/chain/tests/index.integration.test.ts
  background/services/internal-ethereum-provider/index.ts
  background/services/internal-ethereum-provider/tests/index.integration.test.ts
  background/tests/factories.ts
  background/tests/prices.test.ts
  window-provider/index.ts
Labels: Type: Plumbing, Priority: High, Status: Needs Review

#2893 v0.19.0
  .github/ISSUE_TEMPLATE/BUG.yml
  manifest/manifest.json
  package.json
Labels: Type: Enhancement, Priority: High, Status: Needs Review

#2907 Properly use isEnabled to gate abilities polling based on feature flag.
  background/services/abilities/index.ts
Labels: Type: Bug

#2917 Disable Sign button if user can't pay fees
  ui/components/Signing/Signer/SignerBaseFrame.tsx
Labels: Status: Needs Review

#2933 Prevent price point best effort matching for untrusted assets
  background/redux-slices/assets.ts
  background/redux-slices/selectors/accountsSelectors.ts
Labels: Type: Bug

#2802 Display an error message from an RPC request instead of 'the user rejected the request'
  __mocks__/webextension-polyfill.ts
  background/services/provider-bridge/index.ts
  background/services/provider-bridge/tests/index.unit.test.ts
  background/services/provider-bridge/tests/utils.unit.test.ts
  background/services/provider-bridge/utils.ts
  background/tests/factories.ts
Labels: Status: Needs Review
