Repository tahowallet/extension, pull requests merged in 2023-02, with the labels that each got.

#2937 Update Connection menu with WalletConnect
  ui/_locales/en/messages.json
  ui/components/Shared/SharedAccordion.tsx
  ui/components/Shared/SharedLink.tsx
  ui/components/Shared/SharedPanelSwitcher.tsx
  ui/components/TopMenu/TopMenu.tsx
  ui/components/TopMenu/TopMenuConnectedDAppInfo.tsx
  ui/pages/Settings/SettingsCustomNetworks.tsx
  ui/public/images/connected-wc.svg
  ui/public/images/tally_wc.png
  ui/public/images/wallet_connect_guideline.png
Labels: Priority: High, Status: Needs Review

#2965 Change redux flow for abilities state
  background/main.ts
  background/redux-slices/abilities.ts
  background/services/abilities/db.ts
  background/services/abilities/index.ts
  ui/_locales/en/messages.json
  ui/pages/Abilities/AbilityCard.tsx
  ui/pages/Abilities/AbilityRemovalConfirm.tsx
Labels: Status: Needs Review

#2960 Improve migration typing & MockSerialFallbackProvider typing.
  background/redux-slices/migrations/to-24.ts
  background/tests/factories.ts
  ui/components/TopMenu/TopMenuProtocolList.tsx
Labels: Type: Plumbing, Priority: Medium, Status: Needs Review

#2952 Reduce size of NFT redux slice
  background/redux-slices/nfts_update.ts
  background/redux-slices/tests/assets.unit.test.ts
  background/redux-slices/tests/nfts_update.unit.test.ts
  background/redux-slices/utils/nfts-utils.ts
  background/redux-slices/utils/tests/nfts-utils.unit.test.ts
  ui/components/NFTS_update/ExploreMarketLink.tsx
  ui/components/NFTS_update/NFTCollection.tsx
  ui/components/NFTS_update/NFTItem.tsx
  ui/components/NFTS_update/NFTPreview.tsx
  ui/components/Send/NFTCollectionAccordion.tsx
  ui/components/Shared/SharedAssetInput.tsx
  ui/pages/Send.tsx
Labels: Type: Plumbing, Status: Needs Review

#2947 Prevent fetching prices for custom assets
  background/lib/prices.ts
  background/services/indexing/db.ts
  background/services/indexing/index.ts
  background/services/indexing/tests/index.integration.test.ts
  background/tests/factories.ts
Labels: Status: Needs Review

#2992 Update Avalanche token list
  background/services/preferences/db.ts
  background/services/preferences/defaults.ts
Labels: Priority: High, Status: Needs Review

#2981 Change visibility for Abilities
  background/main.ts
  background/redux-slices/abilities.ts
  background/redux-slices/keyrings.ts
  background/services/abilities/index.ts
  background/services/chain/index.ts
  background/services/doggo/index.ts
  background/services/indexing/index.ts
  background/services/name/index.ts
  background/services/nfts/index.ts
  ui/_locales/en/messages.json
  ui/components/Overview/AbilitiesHeader.tsx
  ui/pages/Abilities/AbilityFilter.tsx
Labels: Priority: High, Status: Needs Review

#2954 Make an account filter for abilities enabled by default
  background/main.ts
  background/services/abilities/index.ts
Labels: Priority: High, Status: Needs Review

#2963 ⚠Wallet Connect - Display dApp info when connecting the wallet through
  background/services/provider-bridge/index.ts
  background/services/wallet-connect/index.ts
  background/services/wallet-connect/legacy-sign-client-helper.ts
Labels: Priority: High, Status: Needs Review

#2945 Add Tally to the Wallet Connect desktop options
  background/services/provider-bridge/index.ts
  background/services/wallet-connect/index.ts
  background/services/wallet-connect/legacy-sign-client-helper.ts
  build-utils/inject-window-provider.ts
  window-provider/wallet-connect.ts
  window-provider/wallet-connection-handlers.ts
Labels: Status: Needs Review

#3002 The Account filter for abilities
  background/main.ts
  background/redux-slices/abilities.ts
  background/services/abilities/index.ts
  background/services/ledger/index.ts
Labels: Priority: High, Status: Needs Review

#2986 Refactor Indexing service balances alarm handler
  background/services/indexing/index.ts
  background/services/indexing/tests/index.integration.test.ts
  background/tests/factories.ts
Labels: Type: Plumbing, Priority: Low
